h1 {
    color: rgba(17, 0, 255, 0.733);
}
h2 {
    color: rgba(58, 56, 48, 0.897);
}
h3 {
    color: rgba(58, 56, 48, 0.897);
}

        * {
            margin: 0;
            padding: 0;
        }

        p {
            padding: 10px;
        }

        #left {
            position: absolute;
            left: 0;
            top: 0;
            width: 25%;
            
        }

        #right {
            position: absolute;
            right: 0;
            top: 0;
            width: 75%;
        }
        .round {
            border-radius: 50%; /* Радиус скругления */
            overflow: hidden;
            border: 3px solid rgb(30, 150, 219); /* Параметры рамки */
            box-shadow: 0 0 7px rgb(34, 163, 238); /* Параметры тени */
        }
       